   /*
   * Added
   */
   /*
   * themes
   */

:root{
  --bs-primary: #2563eb;
  --bs-body-bg: #ffffff;
  --bs-body-color: #111827;

  --sp-primary:#2563eb;
  --sp-primary-hover:#1d4ed8;
  --sp-bg:#ffffff;
  --sp-card:#f9fafb;
  --sp-text:#111827;
  --sp-muted:#6b7280;
  --sp-border:#e5e7eb;
}

body{
  background:var(--sp-bg);
  color:var(--sp-text);
  font-size: 1.25rem;
}

.card,.sp-bg-color{
  background:var(--sp-card);
  border:1px solid var(--sp-border);
}

a,.sp-nav-link,.sp-list-group i{
  color:var(--sp-primary);
}

a:hover,.sp-link:hover{
  color:var(--sp-primary-hover);
}

.btn-primary,button{
  color:white;
  background:var(--sp-primary);
}

.btn:hover,button:hover{
  color:white;
  background:var(--sp-primary-hover);
}

button:disabled,.btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background:var(--sp-primary-hover);
}



.dragging {
   background: #ddd;
  opacity: 0.5;
}
.drop-zone{
  min-height:  30px;
}

.container video {
  width: 100%;
  height: 100%;
  object-fit: contain;  /* Keeps the aspect ratio without cropping */
}
